*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(135deg,rgba(255, 0, 0, 0.881),rgba(0, 0, 255, 0.9));
    height: 100vh;
    width: 100cw;
}
.container{
    background-color: rgba(236, 31, 251, 0.633);
    min-height: 160px;
    width: 50%;
    margin: 30vh auto;
    border-radius: 20px;
}
h2{
    margin: 20px 10%;
    color: white;
    padding-top:20px ;
    font-size: 2rem;
    text-decoration-line: underline;
}
.input-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 5% 10% 5%  ;
    border-radius: 40px;
}
input{
    flex: 1;
    outline: none;
    padding: 15px 19px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: transparent;
    opacity: 1;
    color:rgb(255, 106, 0);
    font-size: 1.2rem;
}
button{
    outline: none;
    background-color: hotpink;
    padding: 14px;
    width: 25%;
    border: none;
    border-radius: 40px;
    font-size: 1.2rem;
}
.taskList{
    list-style: none;
    color: aliceblue;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(248, 213, 248);
}
ul li{
    padding: 12px 8px 12px 70px;
    position: relative;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.634);

}
ul li:last-child{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul li span{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    top: 10px;
    text-align: center;
}
ul li::before{
    content: "";
    cursor: pointer;
    position: absolute;
    background-image: url("unchecked.png");
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 28px;
    left:18px;
    top: 10px; 
    border-radius: 10%;
    margin-left: 20px;
}
ul li.checked{
    font-size: 1.5rem;
    font-weight: 400;
    color: cornsilk;
    text-decoration: line-through;
}
ul li.checked::before{
    content: "";
    margin-right: 10px;
    background-image: url("checked.png");
    height: 25px ;
    width: 28px;
    background-size: cover;
}
