* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 0, 0.504);
}

.container {
    border: 2px solid rgb(43, 10, 10);
    margin: 5% 30%;
    min-height: 320px;
    min-width: 200px;
    background-color: rgb(4, 216, 248);
    border-radius: 50px;
    flex-wrap: wrap;
}

h4 {
    font-size: 18px;
    color: rgb(36, 38, 37);
    padding: 15px;
}

.playground {
    min-height: 100px;
    width: 80%;
    border-radius: 50px;
    background-color: floralwhite;
    margin: 1rem auto;
}

.result-outer-won {
    background-color: rgb(29, 214, 29);
    text-align: center;
}

.result-outer-lose {
    background-color: rgb(246, 56, 9);
    text-align: center;
}

.result-outer-draw {
    background-color: grey;
    text-align: center;
}

.allflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-result {
    margin-top: 39px;
    border: 1px solid black;
    font-size: 2rem;
    height: 50px;
    width: 100%;
    text-align: center;
}

.selected {
    font-size: 80px;
    background-color: rgb(229, 250, 191);
    width: 50%;
    text-align: center;
    border: 2px solid brown;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.comp-selected {
    font-size: 80px;
    background-color: rgb(215, 229, 250);
    width: 50%;
    text-align: center;
    border: 2px solid rgb(21, 16, 80);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.options {
    margin: 2rem 1rem;
    flex-wrap: wrap;
}

.select {
    cursor: pointer;
    font-size: 50px;
    margin: 0 10px 0 0px;
    border-radius: 50%;
}

.select:hover {
    border: 4px solid rgb(147, 147, 118);
}

button {
    background-color: red;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    color: white;
}